$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Coming+Soon');

body {
  background-color: #a5ffad;
}

p {
  text-align: center;
  font-family: 'Coming Soon', cursive;
}

li {
  float: left;
  margin: 5px;
  height: 150px;
  width: 150px;
  font-size: 70px;
  font-family: 'Coming Soon', cursive;
  background-color: pink;
  color: brown;
  list-style: none;
  text-align: center;
  border-radius: 5px;
}

li:hover {
  cursor: pointer;
  background: yellow;
}

footer {
  display: block;
  text-align: center;
  padding-top: 20px;
}

.title {
  text-align: center;
  font-size: 70px;
  color: #ff6481;
  font-weight: bold;
  font-family: 'Coming Soon', cursive;
}

.auth {
  text-align: center;
}

.secondPage {
  display: none;
  text-align: center;
}

.menue {
  color: pink;
  font-size: 50px;
}

.intro {
  font-size: 40px;
}

.gamePage {
  display: none;
}

.score-Bord {
  font-size: 60px;
  color: gray;
  font-family: 'Coming Soon', cursive;
}

.gameBoard {
  width: 600px;
  overflow: auto;
  margin: 40px auto;
  border-radius: 10px;
}

.message {
  text-align: center;
  font-size: 40px;
  color: white;
}

.selected {
  background-color: #89fff1;
}

.reset {
  border: 0;
  background-color: #ffee92;
  color: gray;
  padding: 15px;
  border-radius: 5px;
  font-size: 40px;
}

#checkmessage {
  color: white;
  font-size: 40px;
}

#message {
  text-align: center;
  font-size: 40px;
  color: white;
}

#messageTwo {
  text-align: center;
  font-size: 40px;
  color: white;
}
