$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h1 {
  position: center;
  font-family: 'Coming Soon', cursive;
}

div {
  font-family: 'Coming Soon', cursive;
  position: center;
  background-color: pink;
  height: 150px;
  width: 80%;
  margin: 100px, 0, 200px, 0;
  border: 1px solid gray;
}

p {
  font-family: 'Coming Soon', cursive;
}

#first-page {
  color: white;
  background-color: rgb(203, 255, 208);
  margin-bottom: 200px;
  position: center;
  height: 150px;
  width: 80%;
  margin: 100px, 0, 200px, 0;
  border: 1px solid gray;
}
.selected{
  background-color: rgb(137, 255, 241);
}
  #second-page {
  background-color: rgb(203, 255, 208);
  }
#game-board {

}
